/CSGO_images
/checkpoints/*.rar
/checkpoints/yolov4_custom.part1.rar
/checkpoints/yolov4_custom.part2.rar
/checkpoints/yolov4_custom.part3.rar
/checkpoints/yolov4_custom.part4.rar
/checkpoints/yolov4_custom.part5.rar
